.sg-green {
  background-color: #34BB8D; }

.sg-blue {
  background-color: #468AC4; }

.sg-red {
  background-color: #BB3434; }

.sg-dark {
  background-color: #25282B; }

.sg-darkblue {
  background-color: #464D54; }

.sg-darkborder {
  background-color: #444444; }

.sg-lighter {
  background-color: #EFEFEF; }

.sg-light {
  background-color: #CFCFCF; }

.styleguide-headline {
  font-family: Hind;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4.25rem;
  color: #464D54;
  margin-bottom: 0.25rem;
  margin-top: 4.25rem; }

.styleguide-container {
  background-color: #121314;
  padding: 2.5rem;
  border-radius: 8px;
  margin-bottom: 1rem; }

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  .blocks > .color {
    margin-right: 1rem;
    height: 150px;
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #121314; }
