// Main colors
$dark: #25282B;
$text-dark: #CFCFCF;
$text-light: #EFEFEF;
$main-blue: #468AC4;
$dark-blue: #464D54;
$red: #BB3434;
$green: #34BB8D;
$border-color: #444444;

//Main fonts
$header-font: Neuton, serif;
$main-font: Hind;

//Main body
body {
    background-color: $dark;
}

//Text format
h1, h2, h3, h4 {
    margin-top: 0px;
    font-family: $header-font;
    font-weight: 300;
    color: $text-dark;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

span {
    font-family: $header-font;
    font-size: 1.37rem;
    color: $text-dark;
}

a {
    color: $green;
    &:hover {
        color: $text-dark;
    }
}

p {
    font-family: $main-font;
    font-size: 1rem;
    font-weight: lighter;
    color: $text-light;
}

strong {
    color: $text-dark;
}

//Background colors
.bg-blue {
    background-color: $main-blue;
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: $green;
}

//Components
figure {
    margin: 0px;
}