//Main layout
.container {
    margin-left: 35%;
    padding-left: 6rem;
    width: 945px; //Full
}

.row {
    display: flex;
    width: inherit;
}

.col-12 {
    flex-grow: 1;
}

.col-6 {
    flex-grow: 1;
    margin-right: 1.5rem;
    &:last-child {
        margin-right: 0px !important;
        margin-left: 1.5rem;
    }
}

//Layout sizes
.fluid {
    flex-grow: 1;
}

.w1-4 {
    width: 25%;
}

.w2-4 {
    width: 50%;
}

.w3-4 {
    width: 75%;
}

.w4-4 {
    width: 100%;
}