//Content
.row-title {
    display: block;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
}

.content-card {
    display: flex;
}

.text-box {
    h3 {
        margin-bottom: 1rem;
    }
}

.left-box {
    width: 250px;
    border-right: 1px solid $border-color;
    margin-right: 3rem;
}

//Text
.kicker {
    color: $text-dark;
    font-size: 1.75rem;
}