//Text
.kicker {
    color: $text-dark;
    font-size: 1.75rem;
}

//Content
.container {
    margin-left: 35%;
    padding-left: 6rem;
}

.row-title {
    display: block;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
}

.text-box {

    h3 {
        margin-bottom: 1rem;
    }
}